body {
    background: url("../images/white_paper_fine_grain_texture.jpg") repeat fixed;
    background-size: cover;
}
.navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
}
header {
    height: 100vh;
}
.inicio_contenedor p {
    margin: 1em 2em;
    font-size: 4.5vw;
}
.frase_contenedor{
    width: fit-content;
}
.pasos_contenedor {
    margin: 2em;
    margin-left: 25vw;
    justify-self: flex-end;
    max-width: 75vw;
}
.chevronup_contenedor svg {
    max-width: 1em;
    opacity: 0.8;
    justify-self: center;
}
.chevronup_contenedor {
    margin-left: 50%;
}
.boton_chevronup:hover {
    padding-top: 0.5em;
}
main {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}
h2 {
    line-height: 2.3;
    font-size: 2em;
}
section {
    margin: 5em auto;
}
/*sobre_mi*/
.sobremi_svg_contenedor {
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    border: solid black;
}
.sobremi_svg_contenedor svg {
    height: 100%;
}
/*acordeon*/
.imagen_acordeon_contenedor {
    background-color: #fff;
    border: solid black;
}
.imagen_acordeon_contenedor:hover {
    box-shadow: 1px 1px 1px grey inset;
}
.items_internos {
    font-size: 0.7em;
}


/*media query intro*/
@media screen and (min-width: 600px) {
    .frase_contenedor,.pasos_contenedor {
        max-width: 50vw;
        margin: auto;
    }
    .pasos_contenedor {
        margin-top: 9rem;
    }
    .chevronup_contenedor {
        /*padding-top: 5em;*/
    }
}
