body {
    background: url("../images/white_paper_fine_grain_texture.jpg") repeat fixed;
    background-size: cover;
}
.navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
}
section.inicio_contenedor {
    margin-top: 1.5em;
}
.inicio_contenedor {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.inicio_contenedor p {
    margin: 2em;
    margin-bottom: 0em;
    font-size: 4.5vw;
}
.frase_contenedor{
    width: fit-content;
}
.pasos_contenedor {
    margin: 2em;
    max-width: 75vw;
    justify-self: end;
}
.pasos_contenedor svg {
    height: 100%;
    width: fit-content;
}
.chevronup_contenedor svg {
    max-width: 1em;
    opacity: 0.8;
    justify-self: center;
}
.chevronup_contenedor {
    margin: 1em;
    grid-column: 1 / -1;
    text-align: center;
}
.boton_chevronup:hover {
    padding-top: 0.5em;
}
main {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}
h2 {
    line-height: 2.3;
    font-size: 2em;
}
section {
    margin: 5em auto;
}
/*sobre_mi*/
.sobremi_svg_contenedor {
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    border: solid black;
}
.sobremi_svg_contenedor svg {
    height: 100%;
}
/*acordeon*/
.imagen_acordeon_contenedor {
    background-color: #fff;
    border: solid black;
}
.imagen_acordeon_contenedor:hover {
    opacity: 0.7;
}
.items_internos {
    font-size: 0.7em;
}
.items_internos div {
    margin: 0.5em;
}
#mas_tecnico ul {
    line-height: 2em;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
}
.accordion-button::after,.accordion-button:not(.collapsed)::after {
    background-image: url("../images/chevronup.svg");
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    box-shadow: none;
}
.accordion-item {
    border: none;
}

/*media query intro*/
/*@media screen and (min-width: 600px) {*/
    /*.frase_contenedor,.pasos_contenedor {*/
        /*max-width: 50vw;*/
    /*}*/
    /*.pasos_contenedor {*/
        /*margin-top: 9rem;*/
    /*}*/
/*}*/
